
        <!-- Navigation -->


    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/admin/dashboard">Web Shop</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
              
            <li><a href="#/admin/profile" ><i class="fa fa-user fa-fw"></i>Profile</a></li>
            <li><a href="#/admin/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>

            </ul>


            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
            <li>
                <a href="#/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>


           <li>
                <a href="#/admin/category-manager"><i class="fa fa-bars"></i> Category</a>
           </li>

           <li>
                <a href="#/admin/product-manager"><i class="fa fa-list"></i> Products</a>
           </li>

           <li>
                <a href="#/admin/tag-manager"><i class="fa fa-tags"></i> Tag Manager</a>
           </li>


           <li>
                <a href="#/admin/blog-manager"><i class="fa fa-list"></i> Blogs</a>
           </li>

           <li>
                <a href="#/admin/page-manager"><i class="fa fa-fw fa-file"></i> Pages</a>
           </li>

           <li>
                <a href="#/admin/setting-manager"><i class="fa fa-fw  fa-gear"></i>Setting</a>
           </li>



            </ul>
        </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>