
    <div id="wrapper">

        <!-- Navigation -->
        <div nav-bar-directive></div>   


        <div id="page-wrapper">
           
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Page Manager
                     <button type="button" class="btn btn-info pull-right" ng-click="showModal()">Add Page
                     </button>
                     </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">


                <div class="panel panel-default">
                
                    <div class="panel-heading">
                    &nbsp;
                    </div>
                        
                <div class="panel-body">

                    <div class="dataTable_wrapper">
                    <table datatable="ng" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>SN</th>
                            <th>Title</th>
                            <th>Slug</th>                    
                            <th> Actions </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="page in pages">
                            <td>{{$index+1}}</td>
                            <td>{{ page.title }}</td>
                            <td>{{ page.slug }}</td>                        
                            <td>
 <button class="btn btn-success btn-sm" type="button" ng-click="showModal(page)">
 <i class="fa fa-pencil"></i> Update</button>
 <button class="btn btn-danger btn-sm" type="button" ng-click="deleteItem(page)">
                          <i class="fa fa-trash-o"></i> Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-12 -->
            </div>
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
