

<div class="modal-header alert-info">
<h4 class="modal-title">Page...</h4>
</div>
<div class="modal-body">


<form name="$parent.pageForm" novalidate>


<div class="form-group" ng-class="{ 'has-error' : pageForm.title.$invalid && !pageForm.title.$pristine }">
    <label>Page Title</label>
    <input type="text" name="title" class="form-control" ng-model="page.title" ng-minlength="3" ng-maxlength="50" required>
    <p ng-show="pageForm.title.$invalid && !pageForm.title.$pristine" class="help-block">Page Title is required.</p>
</div>

<div class="form-group" ng-class="{ 'has-error' : pageForm.slug.$invalid && !pageForm.slug.$pristine }">
    <label>Page Slug</label>
    <input type="text" name="slug" class="form-control" ng-model="page.slug" ng-minlength="3" ng-maxlength="50" required>
    <p ng-show="pageForm.slug.$invalid && !pageForm.slug.$pristine" class="help-block">Product Slug is required.</p>
    <p ng-show="pageForm.slug.$error.minlength" class="help-block">Page Slug is too short.</p>
    <p ng-show="pageForm.slug.$error.maxlength" class="help-block">Page Slug is too long.</p>
</div>


<div class="form-group" ng-class="{ 'has-error' : pageForm.description.$invalid && !pageForm.description.$pristine }">
    <label>Page Description</label>
    <text-angular name="description" id="description" ng-model="page.description"></text-angular>
    <p ng-show="pageForm.description.$invalid && !pageForm.description.$pristine" class="help-block">Page Description is required.</p>
</div>


</form>

</div>



<div class="modal-footer">

<button type="submit" class="btn btn-primary" ng-disabled="pageForm.$invalid" 
ng-click="submitForm(pageForm)">Submit</button>
<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

</div>

