

<div class="modal-header alert-info">
<h4 class="modal-title">Product Category...</h4>
</div>
<div class="modal-body">


<form name="$parent.productCategoryForm" novalidate>


<div class="form-group" ng-class="{ 'has-error' : productCategoryForm.title.$invalid && !productCategoryForm.title.$pristine }">
    <label>Product Cateogry Title</label>
    <input type="text" name="title" class="form-control" ng-model="productcategory.title" ng-minlength="3" ng-maxlength="50" required>
    <p ng-show="productCategoryForm.title.$invalid && !productCategoryForm.title.$pristine" class="help-block">Product Category Title is required.</p>
</div>


<div class="form-group" ng-class="{ 'has-error' : productCategoryForm.slug.$invalid && !productCategoryForm.slug.$pristine }">
    <label>Product Category Slug</label>
    <input type="text" name="slug" class="form-control" ng-model="productcategory.slug" ng-minlength="3" ng-maxlength="50" required>
    <p ng-show="productCategoryForm.slug.$invalid && !productCategoryForm.slug.$pristine" class="help-block">Product Category Slug is required.</p>
    <p ng-show="productCategoryForm.slug.$error.minlength" class="help-block">Product Category Slug is too short.</p>
    <p ng-show="productCategoryForm.slug.$error.maxlength" class="help-block">Product Category Slug is too long.</p>
</div>


<div class="form-group" ng-class="{ 'has-error' : productCategoryForm.status.$invalid && !productCategoryForm.status.$pristine }">
    <label>Product Category Status</label>
  <select name="status" class="form-control" ng-model="productcategory.status">
    <option value="1" ng-selected="true">Active</option>
    <option value="0">In Active</option>
 </select>
 <p ng-show="productCategoryForm.status.$invalid && !productCategoryForm.status.$pristine" class="help-block">Product Category Status is required.</p>
 </div>


<div class="form-group" ng-class="{ 'has-error' : productCategoryForm.description.$invalid && !productCategoryForm.description.$pristine }">
    <label>Product Category Description</label>
    <textarea name="description" class="form-control" ng-model="productcategory.description" cols="50" rows="5" ></textarea>
    <p ng-show="productCategoryForm.description.$invalid && !productCategoryForm.description.$pristine" class="help-block">Product Category Description is required.</p>
</div>


</form>

</div>



<div class="modal-footer">

<button type="submit" class="btn btn-primary" ng-disabled="productCategoryForm.$invalid" 
ng-click="submitForm(productCategoryForm)">Submit</button>
<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

</div>

