
<div id="main">
<div id="content">
<div id="breadcrumbs"><a href="index.html">Home</a>Blog</div>

<div id="sidebar">

<div  blog-category-directive></div>

<div social-media-directie></div>

</div>


 <div id="news-overview-page">

 <div id="news-overview" class="clearfix">
            
        <div class="news-post" ng-repeat="blog in blogs">
                     <div class="post-title">
                        <h3><a href="{{blog.slug}}">{{blog.title}}</a></h3>
                        <div class="post-cat"> 
                        {{blog.date_created | date : format:'MMM d,y'}} | {{blog.author}}
                        </div>
                     </div>
                     <div class="post-img">
                        <a href="{{blog.slug}}">
                        <img src="{{imageUrl}}{{blog.image}}" alt="{{blog.title}}" />
                        </a>
                     </div>
                     <div class="post-det">
                        <p>{{blog.short_description}}(...)
                        <a class="post-readmore" href="/{{blog.slug}}">
                        <img src="assets/theme/image/readmore.png">
                        </a>
                  </div>
        </div>

  </div>
       
  </div>
     
</div>
</div>                 
