
<div id="main">
<div id="content">
<div id="breadcrumbs"><a href="/">Home</a> Contact</div>
<div id="main_content">

<div class="trends-overview-page">
            <h1>{{pageData.title}}</h1>
            <p ng-bind-html="pageData.description | cleanHTML"></p>
  </div>



 <div class="contect_form">

 <form name="contactform" class="form-horizontal" role="form" novalidate>

     <div class="contect_details">
        <span class="contect_label">
            <label for="first_name">Name *</label></span>
        <span class="contect_input"><span id="name_v_contact_contact">
<input ng-model="formData.inputName" type="text" class="input_login text-input" id="inputName" name="inputName" placeholder="Your Name" required>
        </span>
        </span>
    </div>


<div class="contect_details">
        <span class="contect_label">
            <label for="first_name">Email *</label></span>
        <span class="contect_input"><span id="name_v_contact_contact">
<input ng-model="formData.inputEmail" type="text" class="input_login text-input" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
        </span>
        </span>
    </div>



<div class="contect_details">
        <span class="contect_label">
            <label for="first_name">Subject *</label></span>
        <span class="contect_input"><span id="name_v_contact_contact">
<input ng-model="formData.inputSubject" type="text" class="input_login text-input" id="inputSubject" name="inputSubject" placeholder="Your Name" required>
        </span>
        </span>
    </div>


<div class="contect_details">
                    <span class="contect_label">
                        <label for="day">Detail *</label></span>
                    <span class="contect_input">
                        <span id="comments_v_contact_contact">
<textarea class="input_login " cols="50" id="inputMessage" name="inputMessage" rows="5"></textarea>
</span></span>
  </div>

<div class="contect_details">
                    <span class="contect_label">&nbsp;</span>
                    <span class="contect_input">
                        <br>
                         <button ng-click="submit(contactform)" type="submit" class="submitBtn" ng-disabled="contactform.$invalid">
                      <span>Send Message</span>
                    </button>

                      </span>
                </div>

 </form>               

