
<div id="main">
<div id="content">
<div id="breadcrumbs"><a href="/">Home</a> Contact</div>
<div id="main_content">

<div class="trends-overview-page">
            <h1>{{pageData.title}}</h1>
            <p ng-bind-html="pageData.description | cleanHTML"></p>
  </div>



 <div class="contect_form">



 <form name="contactform" class="form-horizontal" role="form" novalidate>


    <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>

     <div class="contect_details">
        <span class="contect_label">
            <label for="first_name">Name *</label></span>
        <span class="contect_input"><span id="name_v_contact_contact">
<input ng-model="formData.name" type="text" class="input_login text-input" id="name" name="name" placeholder="Your Name" required>
        </span>
        </span>
    </div>


<div class="contect_details">
        <span class="contect_label">
            <label for="first_name">Email *</label></span>
        <span class="contect_input"><span id="name_v_contact_contact">
<input ng-model="formData.email" type="email" class="input_login text-input" id="email" name="email" placeholder="Your Email" required>
        </span>
        </span>
    </div>



<div class="contect_details">
        <span class="contect_label">
            <label for="first_name">Subject *</label></span>
        <span class="contect_input"><span id="name_v_contact_contact">
<input ng-model="formData.subject" type="text" class="input_login text-input" id="subject" name="subject" placeholder="Your Subject" required>
        </span>
        </span>
    </div>


<div class="contect_details">
                    <span class="contect_label">
                        <label for="day">Detail *</label></span>
                    <span class="contect_input">
                        <span id="comments_v_contact_contact">
<textarea class="input_login " cols="50" id="message" ng-model="formData.message" name="message" rows="5"></textarea>
</span></span>
  </div>

<div class="contect_details">
                    <span class="contect_label">&nbsp;</span>
                    <span class="contect_input">
                        <br>
                         <button ng-click="submit(contactform)" type="submit" class="submitBtn" ng-disabled="contactform.$invalid">
                      <span>Send Message</span>
                    </button>

                      </span>
                </div>

 </form>               

