<div id="main">
<div id="content">
     
        <div id="breadcrumbs">
          <ol>
            <li> <a href="index.html"> <span itemprop="name">Home</span></a> </li>
            <li>Products</li>
          </ol>
        </div>

<div id="sidebar">

<div product-category-directive></div>

</div>

<div class="category-page">
          
    <div class="category clearfix">
          
      <div class="product" ng-repeat='product in products'>
      <div class="sale-tag">{{product.caption}}</div>
      <div class="product-img"> 
        <a href="{{product.slug}}"> 
        <img src="{{imageUrl}}{{product.image}}" alt="{{product.title}}" /> 
        </a> 
        <span class="quickview"> <a class="button open-product-overview"  href="{{product.slug}}"> 
        <span>View</span> </a> </span> 
        </div>
              <div class="product-text"> <a href="{{product.slug}}">{{product.title}}</a> </div>
              <div class="product-specs clearfix"> 
        <span class="product-price current_price">{{product.sale_price | currency}}</span> 
        <span class="oldprice">{{product.general_price | currency}}</span> 
        <span class="product-like"> 
        <a class="open-popup" href="{{product.slug}}" id="aStore" > 
        <img src="assets/theme/image/fav-empty.png" alt="aan favorieten toevoegen" /> 
        </a>
         </span> 
         </div>
      </div>
          
       
  </div>

<div class="shop-detail-intro clearfix"></div>
   <div class="category clearfix">
          
      <div class="product" ng-repeat='post in homePagePosts'>
      <div class="product-img"> 
        <a href="{{post.slug}}"> 
        <img src="{{imageUrl}}{{post.image}}" alt="{{post.title}}" /> 
        </a> 
        <span class="quickview"> <a class="button open-product-overview"  href="{{post.slug}}"> 
        <span>View</span> </a> </span> 
        </div>
              <div class="product-text"> <a href="{{post.slug}}">{{post.title}}</a> </div>
                   
              {{post.short_description}}
              
      </div>
          
       
  </div>

</div>

</div>
</div>


