
<div id="main">
<div id="content">
        <div id="breadcrumbs">
          <ol>
            <li> <a href="/"> <span itemprop="name">Home</span></a> </li>
            <li>{{breadcrumbs}}</li>
          </ol>
        </div>

<!-- <div id="sidebar">
<div product-category-directive></div>
<div social-media-directie></div>
</div>
 -->
<div class="trends-overview-page">
            <h1>{{pageData.title}}</h1>
            <p ng-bind-html="pageData.description | cleanHTML"></p>
  </div>

</div>
</div>

