<!doctype html>
<html ng-app="clientApp">
  <head>	

     <base href="/client">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title ng-bind="metaservice.metaTitle()"></title>
    <meta name="description" content="{{ metaservice.metaDescription() }}" />
    <meta name="keywords" content="{{ metaservice.metaKeywords() }}" />



<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />


<!-- <link rel='stylesheet' href="bower_components/angular-socialshare/angular-socialshare.min.css"> -->



<link href="assets/theme/css/style.css" rel="stylesheet" type="text/css" />
<link href="assets/theme/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="assets/theme/css/slimmenu.css" rel="stylesheet" type="text/css">
<link href="assets/theme/css/cssmenu.css" rel="stylesheet" type="text/css" />


  </head>
  <body>
   
    
<div id="wrap">

  <div id="top-container" class="clearfix">
    <div id="top"><span class="top-usp">Discover every day your personal fashion tips and fashion inspiration</span>
    </div>
  </div>


  <div class="banner-wrap">
    <div class="leftBanner mainsidebanner"> 
      <div social-media-directie></div>
    </div>
  </div> 

   <div id="container">
    <div id="header" class="clearfix">
      <div id="logo"><a href="/"> <img src="assets/theme/image/logo.png" alt="Web Shop" width="296" height="65" /> </a> </div>
    </div>
    
    <div id="nav">
      <ul id="navigation" class="slimmenu">
        <li> <a href="/">Home</a> </li>
        <li> <a href="/blog">Blog</a> </li>
        <li> <a href="/payment-methods">Payment Methods</a></li>
        <li> <a title="Merken" href="/contact">Contact</a></li>
        <li> <a title="Webshops" href="/about">About</a></li>       
      </ul>
      <ul id="navigation" class="slimmenu rightItem">
        <li style="background:#4ba5b0;"> <a title="mid season sale" href=""></a> </li>
      </ul>
    </div>

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

	<!-- All templates will load here -->
	<div ng-view=""></div>


    </div>
<!-- end wrap-->
<div id="footer-container" class="clearfix">
  <div id="footer">
    <div class="column">
      <h3>Help</h3>
      <ul>
        <li><a href="/payment-methods">Payment Methods</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/term">Terms & Conditions</a></li>
      </ul>
    </div>
    
    <div class="copy-rights-cont">
      <div class="copy-rights">Copyright © 2016 WebShop.</div>
    </div>
  </div>
</div>

    
	

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
	 /*
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
	   */
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>

<!--     <script src="bower_components/angular-socialshare/angular-socialshare.min.js"></script>

    <script src="http://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js" data-pin-build='parsePins'></script>
 -->
    
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="assets/app.js"></script>
        <script src="assets/services/meta-service.js"></script>
         <script src="assets/services/product-service.js"></script>
         <script src="assets/services/blog-service.js"></script>
        <script src="assets/controllers/main.js"></script>
        <script src="assets/controllers/common.js"></script>
        <script src="assets/controllers/tag.js"></script>
        <script src="assets/controllers/blog.js"></script>
        
        <script src="assets/controllers/about.js"></script>
        <script src="assets/controllers/term.js"></script>
        
        <script src="assets/controllers/payment-methods.js"></script>
        <script src="assets/controllers/contact.js"></script>
      

        <!-- Filters -->
        <script src="assets/filters/cleanhtml-filter.js"></script>
        <script src="assets/filters/pagination-filter.js"></script>

		<!-- Directives -->
        <script src="assets/directives/login-directive.js"></script>
        <script src="assets/directives/product-category-directive.js"></script>
		<script src="assets/directives/blog-category-directive.js"></script>
        <script src="assets/directives/social-media-directive.js"></script>
        
		<!-- Services -->

        

        <!-- <script src="assets/services/product-service.js"></script>
        <script src="assets/services/product-by-category-service.js"></script>

        <script src="assets/services/product-category-service.js"></script>
        <script src="assets/services/product-category-detail-service.js"></script>
 -->

        <!-- endbuild -->
</body>
</html>
